body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background: #fff;
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  letter-spacing: 0.02em;
  padding-bottom: 40px;
  padding-top: 16px;
  /* from uigradients.com */
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.failText {
  color: firebrick;
}

.successText {
  color: forestgreen;
}

#title {
  margin-top: 10px;
}

#title h1,
#title h2 {
  margin: 0px;
  color: whitesmoke;
  font-weight: lighter;
}

#title h1 {
  border-bottom: 1px whitesmoke #000;
  font-weight: 700;
}

#title h2 {
  font-size: 14px;
}

.quillWrapper * {
  font-family: 'Raleway', sans-serif;
}

/* Footer */
.footer {
  height: 50px;
  padding: 20px 100px 100px 100px;
  box-sizing: border-box;
}

.image h2 {
  font-style: italic;
  font-size: 1em;
}

/* Admin */
.heading {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.heading h2 {
  margin: 0px;
  margin-left: 10px;
}

.add,
.edit {
  display: flex;
}

.circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #333;
  color: #fff;
  text-align: center;
}

/* Form */
input,
textarea,
select,
button {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

.form {
  margin-right: 50px;
}

.form input {
  min-width: 300px;
}

.form textarea {
  display: block;
  margin-top: 8px;
  min-width: 300px;
}

/* Uploaded images */
.upload h2 {
  margin: 0px;
}

.upload img {
  max-width: 300px;
}

/* Suggestions */
.suggestions {
  width: 200px;
  border: 1px solid #ccc;
}

.suggestion {
  min-height: 20px;
}

.suggestion:hover {
  background-color: #5bdeff;
  color: #fff;
}

/* Masonry */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#coverPhoto,
#editCoverPhoto,
.post img {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}

.post {
  margin: 20px 0 60px;
}

.post:last-child {
  margin-bottom: 0;
}

.post .titles {
  display: flex;
}

.post h3 {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
  padding: 4px 0px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.post .titles span {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  cursor: pointer;
  user-select: none;
  background-color: #d3d3d3;
  transition: all 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 4px 16px;
  border-radius: 4px;
}

.post .titles span:hover {
  background-color: #b4b4b4;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .image-gallery {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .image-gallery {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .image-gallery {
    column-count: 2;
  }
}

/*  FOOTER LINK  */

footer {
  position: fixed;
  height: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  border-top: 1px solid lightgray;
}

footer a {
  margin: 0px 8px;
  display: inline-block;
  color: #1e96ca;
  opacity: 1;
  visibility: visible;
  -moz-transform: translateY(0) translateZ(0);
  -ms-transform: translateY(0) translateZ(0);
  -webkit-transform: translateY(0) translateZ(0);
  transition: filter 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  letter-spacing: 0.05em;
  text-decoration: none !important;
  position: relative;
}

footer a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: #1e96ca;
  height: 1px;
  width: 100%;
  transform-origin: left center;
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: -o-transform 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: filter tranform 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

footer a:hover {
  color: #1e96ca;
  filter: brightness(60%);
}
footer a:hover::after {
  transform: scaleX(0);
  transform-origin: right center;
}

/*  PRETTY INPUT STUFF  */

#colorForm > div,
.prettyInputWrapper {
  position: relative;
}

#colorForm label,
.prettyInputWrapper label {
  display: inline-block;
  transition: all 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform color left;
  background-color: whitesmoke;
  font-size: 16px;
  color: #80868b;
  padding: 0 8px;
  bottom: 12px;
  left: 8px;
  position: absolute;
  z-index: 1;
}

.invalidColorInput {
  color: firebrick;
}

#colorForm input,
.prettyInputWrapper input {
  box-flex: 1;
  flex-shrink: 1;
  background-color: transparent;
  border: none;
  display: block;
  font: 400 16px 'PT Sans', sans-serif;
  height: 48px;
  padding: 13px 15px;
  line-height: 24px;
  margin: 0;
  min-width: 0%;
  outline: none;
  z-index: 0;
  border-radius: 4px;
  border: 1px solid #80868b;
  font-size: 16px;
  box-sizing: border-box;
  margin: 16px 0;
  width: 100%;
  position: relative;
  z-index: 2;
  transition: all 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

#colorForm input:focus ~ label,
#colorForm input.hasText ~ label,
.prettyInputWrapper input:focus ~ label,
.prettyInputWrapper input.hasText ~ label {
  transform: scale(0.75) translateY(-34px);
  left: -8px;
  z-index: 3;
}

#colorForm input:focus ~ label,
.prettyInputWrapper input:focus ~ label {
  color: rgb(25, 115, 232);
}

#colorForm input:focus,
.prettyInputWrapper input:focus {
  color: black;
  border-color: rgb(25, 115, 232);
  border-width: 2px;
  padding-left: 14px;
}

.inline,
.permanent-inline {
  display: flex;
  flex-direction: row;
}

.inline > *,
.permanent-inline > * {
  flex: 1;
  margin: 2px;
}

.inline > *:first-child,
.permanent-inline > *:first-child {
  margin-left: 0px;
}

.inline > *:last-child,
.permanent-inline > *:last-child {
  margin-right: 0px;
}

button {
  width: 100%;
  height: 48px;
  color: whitesmoke;
  background-color: rgb(25, 115, 232);
  border: 1px solid rgb(25, 115, 232);
  border-radius: 4px;
  transition: all 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  cursor: pointer;
  outline: none;
}

button.inactive {
  opacity: 0.6;
}

button:hover {
  background-color: rgb(38, 123, 229) !important;
  /* border: 1px solid rgb(38, 123, 229); */
}

/*  MODAL  */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  padding: 8px;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 100%;
  max-width: 700px;
  max-height: calc(100vh - 24px);
  overflow-y: scroll;
  margin: 0px auto;
  padding: 12px;
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: 'Raleway', sans-serif;
}

.modal-header {
  display: flex;
}

.modal-header h1 {
  font-size: 1.5em;
  flex: 3;
}

.modal-header button {
  flex: 1;
  margin-top: 6px;
  background-color: #5d9cec;
}

.modal-body {
  margin: 0;
}

.modal-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-default-button {
  float: right;
}

/*
  * The following styles are auto-applied to elements with
  * transition="modal" when their visibility is toggled
  * by Vue.js.
  *
  * You can easily play with the modal transition by editing
  * these styles.
  */
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#app {
  background: whitesmoke;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 42px;
}

#app > h2 {
  margin-top: 0;
  font-weight: lighter;
}

@media (max-width: 768px) {
  body {
    padding: 20px 16px;
  }
  .inline {
    display: block;
  }

  .inline > * {
    margin: 2px 0;
  }
}
